@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* Viewport 600px or less */

body {
    font-family: Dosis;
    background: #F4EDED;
}

header {
    background: #0A090C;
    display: flex;
    align-items: center;
    margin: auto;
}

header img {
    width: 65%;
    max-width: 320px;
}

nav {
    background: #0A090C;
    text-align: center;
    margin: auto;
    font-size: large;
}

nav a {
    color: #49C6E5;
    text-decoration: none;
    display: none;
    font-size: large;
}

nav a:hover {
    background: #FF9505;
    color: #0A090C;
}

#menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: #49C6E5;
    border: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
    font-size: 1.5rem;
    color: black;
}

.open a {
	display: block;
}

nav a.active::before {
    content: "-> ";
    color: #F4EDED;
}

nav a.active::after {
    content: " <-";
    color: #F4EDED;
}

#call_to_action {
    position: relative;
}

#call_to_action img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 20px auto;
}

#call_to_action #join {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    background: #ff9705c2;
    border-radius: 5px;
    font-size: larger;
    width: 50%;
    min-width: fit-content;
    max-width: 350px;
    color:#0A090C
}

#call_to_action #join:hover {
    background: #ff9705;
    cursor: pointer;
}

#current_events, #weather, .ad {
    border: 2px solid #FF9505;
    color: #707078;
    margin: 15px auto;
    padding: 10px;
    width: 90%;
    border-radius: 7px;
    text-align: center;
}

#current_events h2, #weather h2, .ad h2 {
    color: #0A090C;
    text-align: center;
}

#current_events h4, #spotlight h1 {
    text-align: center;
}

#spotlight {
    margin: 50px auto;
}

.ad {
    border: 2px solid #49C6E5;
}

.contact_info {
    color: #0A090C;
    padding: 1px 1px 15px 1px;
    text-align: center;
    border: 2px solid #FF9505;
    border-radius: 15px;
}

.contact_info a {
    color: #0A090C;
}

footer {
    background: #0A090C;
    color: #49C6E5;
    padding: 5px;
}

footer img {
    max-width: 40%;
    min-width: 200px;
    float: left;
}

footer h3, footer p {
    text-align: center;
}

#student_info {
    color: #FF9505;
}

#student_info {
    text-align: center;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 24px;
    top: 15px;
    right: 50px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #49C6E5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FF9505;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FF9505;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body.dark {
    background: #444444;
}

#current_events.dark, #weather.dark, .ad.dark {
    color: #F4EDED;
}

.contact_info.dark {
    color: #F4EDED;
}

.contact_info a.dark {
    color: #F4EDED;
}

.sidebar-content, #pictures h1 {
    text-align: center;
}

picture, .sidebar-content {
    display: grid;
    justify-content: center;
}

#pictures img {
    max-width: 85%;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 10px;
}

.sidebar-content {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 20px auto;
    max-width: 75%;
    background: #F4EDED;
}

#pictures, #sidebar {
    border: 1px solid black;
    border-radius: 10px;
    max-width: 90%;
    margin-top: 50px;
}

#discover-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#sidebar {
    background: #FF9505;
}

#pictures {
    background: #49C6E5;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

form {
    margin: 10px;
    max-width: 700px;
}

form label {
    display: block;
    margin: 15px;
    color: #49C6E5;
}

form div {
    display: block;
    margin: 35px 15px 0 15px;
    color: #FF9505;
    font-size: larger;
    font-weight: bold;
}

form input[type="radio"] {
    margin-left: 10px;
}

form textarea {
    width: 100%;
    max-width: 400px;
}

#form-title {
    text-align: center;
}

form input[type="submit"] {
    padding: .75rem;
    color: #0A090C;
    background: white;
    border: 1px solid #0A090C;
    border-radius: 6px;
    width: 50%;
    max-width: 350px;
    min-width: fit-content;
    margin: 1rem 25% 2rem 25%;
    font-size: 1.3rem;
}

#benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.membership h1, .membership h2{
    text-align: center;
}

.membership {
    border: 3px solid #0A090C;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background: white;
    max-width: 350px;
    min-width: 300px;
}

#bronze {
    color: rgb(126, 57, 20);
}

#silver {
    color: rgb(133, 133, 133);
}

#gold {
    color: rgb(182, 154, 0);
}

#thanks {
    text-align: center;
    margin-top: 20%;
}

#home-button {
    text-decoration: none;
    border: 1px solid black;
    color: #F4EDED;
    border-radius: 5px;
    font-size: larger;
    padding: 10px 20px;
    margin: 10px auto;
    background: #0A090C;
}

#home-button:hover {
    color: #49C6E5;
}

#home-container {
    text-align: center;
}

#buttons {
	margin: 1rem auto;
	text-align: right;
    margin-right: 50px;
}

#buttons button {
	padding: 1rem 2rem;
    margin: 15px;
    margin-bottom: 0;
    border-radius: 6px;
    background: white;
}

#buttons button:hover {
    background: rgb(189, 189, 189);
    cursor: pointer;
}

#grid-mode {
    border: 1px solid #49C6E5;
}

#list-mode {
    border: 1px solid #FF9505;
}

.grid-mode {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
	justify-items: center;
    margin: 50px;
}

.grid-mode section {
    border: 1px solid white;
    border-radius: 6px;
    background: white;
    text-align: center;
    width: 350px;
    height: 400px;
    box-shadow: 0 0 10px #333;
}

.grid-mode img {
    max-height: 100px;
    margin: 25px auto;
}

.list-mode {
	display: flex;
	flex-direction: column;
    margin: 50px;
}

.list-mode section {
	display: grid;
	grid-template-columns: 1fr;
	padding: 1rem;
    background: white;
}

.list-mode section img {
	display: none;
}

.list-mode section h3 {
	font-size: 1rem;
    text-align: left;
}

.list-mode section:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.066);
}

.list-mode a {
    margin-top: 16px;
    margin-bottom: 16px;
}