@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

/* Viewport 600px or less */

body {
    font-family: Dosis;
    background: #F4EDED;
}

header {
    background: #0A090C;
    display: flex;
    align-items: center;
    margin: auto;
}

header img {
    width: 65%;
    max-width: 320px;
}

nav {
    background: #0A090C;
    text-align: center;
    margin: auto;
    font-size: large;
}

nav a {
    color: #49C6E5;
    text-decoration: none;
    display: none;
    font-size: large;
}

nav a:hover {
    background: #FF9505;
    color: #0A090C;
}

#menu {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: #49C6E5;
    border: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
    font-size: 1.5rem;
    color: black;
}

.open a {
	display: block;
}

nav a.active::before {
    content: "-> ";
    color: #F4EDED;
}

nav a.active::after {
    content: " <-";
    color: #F4EDED;
}

#call_to_action {
    position: relative;
}

#call_to_action img {
    display: block;
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
}

#call_to_action #join {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    background: #ff9705c2;
    border-radius: 5px;
    font-size: larger;
    width: 50%;
    min-width: fit-content;
    max-width: 350px;
    color:#0A090C
}

#call_to_action #join:hover {
    background: #ff9705;
    cursor: pointer;
}

#current_events, #weather, .ad {
    border: 2px solid #FF9505;
    color: #707078;
    margin: 15px auto;
    padding: 10px;
    width: 90%;
    border-radius: 7px;
    text-align: center;
}

#current_events h2, #weather h2, .ad h2 {
    color: #0A090C;
    text-align: center;
}

#current_events h4, #spotlight h1 {
    text-align: center;
}

#spotlight {
    margin: 50px auto;
}

.ad {
    border: 2px solid #49C6E5;
}

.contact_info {
    color: #0A090C;
    padding: 1px 1px 15px 1px;
    text-align: center;
    border: 2px solid #FF9505;
    border-radius: 15px;
}

.contact_info a {
    color: #0A090C;
}

footer {
    background: #0A090C;
    color: #49C6E5;
    padding: 5px;
}

footer img {
    max-width: 40%;
    min-width: 200px;
    float: left;
}

footer h3, footer p {
    text-align: center;
}

#student_info {
    color: #FF9505;
}

#student_info {
    text-align: center;
}

.switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 24px;
    top: 15px;
    right: 50px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #49C6E5;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #FF9505;
}

input:focus + .slider {
    box-shadow: 0 0 1px #FF9505;
}

input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

body.dark {
    background: #444444;
}

#current_events.dark, #weather.dark, .ad.dark {
    color: #F4EDED;
}

.contact_info.dark {
    color: #F4EDED;
}

.contact_info a.dark {
    color: #F4EDED;
}