/* Viewport 701 to 1100 */

@media screen and (min-width: 701px) {
    nav {
        display: flex;
        flex-direction: row;
    }
    
    nav a {
        display: block;
        text-align: center;
        padding: 1rem;
        flex: 1 1 100%;
        border-left: 1px solid #FF9505;
    }

    #menu {
        display: none;
    }

    #information {
        display: grid;
        grid-template-columns: 70% 28%;
    }

    #ads {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    #ads .ad {
        max-width: 400px;
        margin: auto;
    }

    #call_to_action #join {
        height: 7%;
    }

    header img {
        margin: auto;
    }

    .slider:before {
        height: 26px;
        width: 26px;
    }

    .switch {
        width: 60px;
        height: 34px;
        top: 15px;
        right: 20px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    #discover-grid {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    #sidebar {
        grid-column: 1/2;
        margin-left: 20%;
        width: 100%;
        height: fit-content;
    }

    #pictures {
        grid-column: 2/3;
    }

    picture img:hover {
        box-shadow: 0 0 50px #FF9505;
    }

    .grid-mode {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
    
    .list-mode a, .list-mode p, .list-mode h3 {
        margin: 15px;
    }

    .list-mode section {
        grid-template-columns: 1fr 1fr 1fr .5fr 1fr;
        text-align: center;
    }

    #banner h1 {
        padding: 7rem;
        font-size: 3vw;
    }
}