/* Viewport 701 to 1100 */

@media screen and (min-width: 701px) {
    nav {
        display: flex;
        flex-direction: row;
    }
    
    nav a {
        display: block;
        text-align: center;
        padding: 1rem;
        flex: 1 1 100%;
        border-left: 1px solid #FF9505;
    }

    #menu {
        display: none;
    }

    #information {
        display: grid;
        grid-template-columns: 70% 28%;
    }

    #ads {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    #ads .ad {
        max-width: 400px;
        margin: auto;
    }

    #call_to_action #join {
        height: 7%;
    }

    header img {
        margin: auto;
    }

    .slider:before {
        height: 26px;
        width: 26px;
    }

    .switch {
        width: 60px;
        height: 34px;
        top: 15px;
        right: 20px;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
}